/* pantallas de menos de 600px */
h1 {
  font-size: 1.5em;
}

p {
  font-size: 0.9em;
}

.slogan {
  font-size: 17px;
}

.header {
  height: 100px;
}

.logo-header {
  width: 75px;
  height: 75px;
}
.hero p {
  margin-bottom: 0;
}
